// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray:#F6F6F0;


// .1colors
// 2.fonts
// 3.navbar
// 4.buttons
// 5.cards
// 6.utilities (for the parts that we will repeat a lot like text decor-none)
