<div class=container>
  <h2>Chefs' collection</h2>
  <h4>Choose a chef of your best culinary experience</h4>
  <div class="cards_list_index">
    <% @chefs.each do |chef| %>
      <%= link_to chef_path(chef) do %>
        <div class="card" style="width: 18rem;">
          <% if chef.photos.present? %>
          <div class="card-img-top" style="background-image: url('<%= cl_image_path chef.photos[0].key %>')">
            <span class="badge badge-light"><%= chef.speciality %></span>
          </div>
          <% end %>
          <div class="card-body">
            <h4 class="card-title"><%= chef.full_name %></h4>
            <p class="card-price">Price</p>
          </div>
        </div>
        <% end %>
    <% end %>
  </div>
</div>
