<h2>Chefs' collection</h2>
<h4>Choose a chef of your best culinary experience</h4>
<div class="cards">
  <% @chefs.each do |chef| %>
  <div>
    <% if chef.photos.present? %>
     <%= cl_image_tag chef.photos[0].key, height: 300, width: 400, crop: :fill %>
    <% end %>
    <div>
      <h4><%= chef.full_name %></h4>
      <h6><%= chef.speciality %></h6>
    </div>
  </div>
  <%= render "shared/card" %>
  <% end %>


</div>
