    <div class='container-form-bookings'>
    <%= simple_form_for [@chef, @booking] do |f| %>

      <%# CHEF_NAME TO AUTOPOPULATE IN ANOTHER FIELD %>
      <%= f.input :start_date, placeholder: 'request start date'%>
      <%= f.input :end_date, placeholder: 'request end date'%>
      <div class="d-flex align-items-center justify-content-center w-100">
        <%= f.submit class: 'btn btn-yellow d-block' %>
      </div>
    <% end %>
  </div>
