   <%= link_to 'HOME', root_path %><br>

  <h4> ### ALL bookings ### </h4><br>
    <% @bookings.each do |booking| %>
    <h5><%= booking.id %>. <%= link_to booking.title, booking_path(booking) %>: <%= booking.details %></h5>
    <% end %>