<div class='container'>
    <h2> My Bookings </h2><br>
      <div class="cards_list_index">
    <% @bookings.each do |booking| %>
    <div class=container>
        <p><%= booking.chef.user.first_name %></p>
        <p><%= booking.chef.speciality %></p>
        <p><%= booking.start_date %></p>
        <p><%= booking.end_date %></p>
      <% end %>
    </div>
  </div>
</div>
