<div class="footer">
  <ul>
  <li><p>@2021, LaCasserole</p></li>
  <li><p>
  <div class="addthis_inline_share_toolbox_1hnf share_this"></div>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-612607870d302f73"></script>
  </p></li>
  </ul>
</div>
