<div class="footer">
  <p> @2021, LaCasserole </p>
  <p class="sharethis-inline-share-buttons"> </p>
</div>

<script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=6125167b0596560012d3821a&product=inline-share-buttons" async="async"></script>
