<div class=container>
  <header align="center">La Casserole</header>
  <h2 align="center">since 1972</h2>
</div>
<div class="background_img" style="background-image: url('https://images.unsplash.com/photo-1582319181538-37046959cc32?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');">
<p class="inner-text">Bring a private chef home...</p>

</div>
<div>
<h2 class="text-home">What we do...</h2>
<div class="text">
<p>You can turn your home into a restaurant. Your journey begins at La Casserole..</p>
<p>Just choose the chef nearby you. See what cuisine they cook. Choose the dates when you need them.</p>
<p> On the day that you chose, the chef will bring all the ingredients, cook them at your house, set the table for you and leave when you do not need them any more.</p>
</div>
</div>




<%# <p-text>Find me in app/views/pages/home.html.erb</p-text> %>
