<h1>La Casserole#home</h1>
<h2>since 1972</h2>
<img src="https://images.unsplash.com/photo-1582319181538-37046959cc32?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="Pan">
<h2> Its header 2</h2>
<p-text>Find me in app/views/pages/home.html.erb</p-text>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque eos libero inventore quia earum? Aliquam, eum distinctio voluptate cupiditate iusto, blanditiis natus atque dolorem temporibus dolore hic repellendus fugit maiores.</p>
