<div class=container>
  <header align="center">La Casserole</header>
  <h2 align="center">try a novel culinary adventure</h2>
</div>
<div class="background_img" style="background-image: url('https://images.unsplash.com/photo-1582319181538-37046959cc32?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');">
<div class="container">
<div class= "d-flex justify-content-between align-items-center"  >
  <p class="inner-text">Private chef at your home...</p>
  <%= link_to "Our chefs:", chefs_path %>
</div>
</div>
</div>
<div>
<div class="container">
  <h2 class="text-home">What we do...</h2>
    <div class="text">
    <p>Your home can be transformed into a nice restaurant. Our app will present you a little gourmet journey..</p>
    <p>Find your favourite cuisine or discover new one with our great chefs. Choose the date when the chef should come.</p>
    <p>No bothers about cooking anymore, the chef will bring all ingredients and cook at your home. </p>
    </div>
  </div>
</div>
