.background_img {
  display:flex;
  align-items: flex-end;
  width:100vw;
  height:770px;
  background-size:cover;
}

p.inner-text {
  font-family:StelvioGrotesk;
  font-size:50px;
  font-weight:400;
  margin-bottom: 55px;
  margin-left: 38px;
  color:#FFFABD;

}

h2.text-home {
    padding: 20px;
    font-family: StelvioGrotesk;
    font-size: 50px;
}

.text {
  margin-left: 32px;
}
