.form-group.date.optional.booking_start_date {
    padding-top: 14px;
}

.d-flex.flex-row.justify-content-between.align-items-center {
    padding-bottom: 18px;
}

form {
border-width: thin;
padding: 20px;
padding-top: 6px;
padding-bottom: 19px;
box-shadow: 0 2px 14px;
}

input.btn.btn-yellow {
  margin-left: 104px;
}

h4 {
  font-family: StelvioGrotes;
  font-size: 20px;
  margin-left: 53px;
  padding-bottom: 12px;
}

label.date.optional {
  font-family: BrandonBold,"Courier New",Courier,monospace;
}

select {
font-family:BrandonBold;
}

h3 {
    font-family: StelvioGrotes;
    color: #103A3A;
    padding-top: 0px;
    font-size: 20px;
    padding-bottom: 0px;
}

h2 {
  font-family: BrandonBold,"Courier New",Courier,monospace;
    color: #103A3A;
    padding-top: 18px;
    font-size: 25px;
}

.btn-yellow:hover {
background-color: #F5B799;
text-decoration: none;
}
