.text.optional {
  margin: 0;
  font-family: BrandonBold,“Courier New”,Courier,monospace;
  font-size: 24px;
}

.string.required {
  font-family: BrandonBold,“Courier New”,Courier,monospace;
  font-size: 24px;
}

.file.optional {
  font-family: BrandonBold,“Courier New”,Courier,monospace;
  font-size: 24px;
}
