.text.optional {
  margin: 0;
  font-family: BrandonBold,“Courier New”,Courier,monospace;
  font-size: 24px;
}

.string.required {
  font-family: BrandonBold,“Courier New”,Courier,monospace;
  font-size: 24px;
}

.file.optional {
  font-family: BrandonBold,“Courier New”,Courier,monospace;
  font-size: 24px;
}

.form-control.is-valid.string.optional {
  font-family: BrandonBold,“Courier New”,Courier,monospace;
  font-size: 24px;
}

.string.optional {
  font-family: BrandonBold,“Courier New”,Courier,monospace;
  font-size: 24px;
}

input.btn.btn-orange {
    font-size: 24px;
}
