
p {
  font-family: BrandonBold,"Courier New",Courier,monospace;
  color:#163F41;
  font-size: 1.4rem;
  letter-spacing: normal;
  margin-top: 20px;
}

p-text {
  color: black;
  font-family:adobe-ming-std;
  font-size: 1.2rem;
  font-weight:300;
  opacity: 0.5;
}
