.container2 {
    text-align: center;
    padding-bottom: 28px;
    color:#163F41;
}

h2 {
    font-family: BrandonBold,"Courier New",Courier,monospace;
    color: #103A3A;
    padding-top: 18px;
    font-size: 35px;
}

.text-center {
  text-align: center;
}
